@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Stylist Profile: @Model["stylist"].GetName()</h2>
  <img src="~/img/@(@Model["stylist"].GetPicture() + ".jpg")">
  <h4>Phone: @Model["stylist"].GetPhone()</h4>
  <h4>Specialties:</h4>
  <ul>
    @foreach(var specialty in @Model["specialties"])
    {
      <li><a href='/specialty/show/@specialty.GetId()'>@specialty.GetDescription()</a></li>
    }
  </ul>
  <h4>Client List: </h4>
  @if(@Model["clientList"].Count == 0)
  {
    <h5>This stylist does not currently have any clients.</h5>
  }
  else{

  <ul>
    @foreach(var client in @Model["clientList"])
    {
      <li><a href="/client/show/@client.GetId()">@client.GetName()</a></li>
    }
  </ul>
  }


<br>
<hr>
<h4><a href="/stylist/update/@Model["stylist"].GetId()">Edit this stylist's profile. </a></h4>
<h4><a href="/client/new">Add a new client. </a></h4>
<h4><a href="/stylist/index">Back to all Stylists.</a></h4>

</div>