@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Update Stylist Profile: @Model["stylist"].GetName()</h2>
  <img src='~/img/@(@Model["stylist"].GetPicture() + ".jpg")'>

  <h3>Make changes here:</h3>
    <form action='/stylist/update/@Model["stylist"].GetId()' method="post">
    <div class = "form-group row">
        <div class="col col-md-3">
          <label for="stylistName">Name: </label>
          <input class="form-control" id="stylistName" name="stylistName" type="text" required value='@Model["stylist"].GetName()'>
        </div>
        <div class="col col-md-3">
          <label for="stylistPhone">Phone Number: </label>
          <input class="form-control" id="stylistPhone" name="stylistPhone" type="text" required value='@Model["stylist"].GetPhone()'>
        </div>
        <div class="col col-md-2">
          <label for="specialty">Specialty: </label>
          <select name="specialtyId">
            @foreach(var specialty in @Model["specialties"])
            {
              <option value="@specialty.GetId()">@specialty.GetDescription()</option>
            }
          </select>
        </div>
        <div class="col col-md-3">
          <label for="stylistPicture">Picture file name (optional): </label>
          <input class="form-control" id="stylistPicture" name="stylistPicture" type="text" value='@Model["stylist"].GetPicture()'>
        </div>
      </div>
      <div class = "form-group row">
        <button class="btn btn-primary btn-lg" type="submit">Save Changes</button>
      </div>
    </form>
  <br>
  <hr>
  <h4><a href='/stylist/show/@Model["stylist"].GetId()'>Discard changes and go back to stylist's profile.</a></h4>

</div>